<%- include("header"); -%>

  <div class="activiteit">
    <label for="">Datum (vb: zondag 24/11)</label>
    <input type="text" name="" value=""><br>
    <label for="">Naam activiteit</label><br>
    <input type="text" name="" value=""><br>
    <label for="">Leeftijdsgroep</label><br>
    <input type="text" name="" value=""><br>
  </div>

<a href="/bedanktactiviteit"><button type="button" name="button">Opslaan</button></a>
<%- include("footer"); -%>
