<!DOCTYPE html>
<html lang="nl-be" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finalpiece</title>

    <!-- <link rel="stylesheet" href="reset.css"> -->
    <link rel="stylesheet" href="/css/stijl.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap" rel="stylesheet">
  </head>
  <body class="<%=bodyclass%>">
    <nav>
        <a class="<%=terugclass%>" href="<%=terug%>">
        <img src="/images/pijl.png" alt="" width="30px"></a>
        <h3 class="page-title"><%=title%><h3>
    </nav>
