  <%- include("header"); -%>

    <div class="inlog">
      <h2>WAT DINGEN OVER JOU</h2>

      <form id="inlog" action="index.html" method="post">
        <label for="toegang">Toeganscode</label>
          <span>(Meer info bij leiding)</span><br>
        <input type="text" name="" value=""> <br>
        <label for="naam">Voornaam + naam</label> <br>
        <input type="text" name="" value=""> <br>
        <label for="verjaardag">Geboortedatum</label> <br>
        <select class="" name="dag">
  <option value="dag">Dag</option>
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
  <option value="8">8</option>
  <option value="9">9</option>
  <option value="10">10</option>
  <option value="11">11</option>
  <option value="12">12</option>
  <option value="13">13</option>
  <option value="14">14</option>
  <option value="15">15</option>
  <option value="16">16</option>
  <option value="17">17</option>
  <option value="18">18</option>
  <option value="19">19</option>
  <option value="20">20</option>
  <option value="21">21</option>
  <option value="22">22</option>
  <option value="23">23</option>
  <option value="24">24</option>
  <option value="25">25</option>
  <option value="26">26</option>
  <option value="27">27</option>
  <option value="28">28</option>
  <option value="29">29</option>
  <option value="30">30</option>
  <option value="31">31</option>

        </select>
        <select class="" name="maand">
  <option value="maand">Maand</option>
  <option value="januari">Januari</option>
  <option value="februari">Februari</option>
  <option value="maart">Maart</option>
  <option value="april">April</option>
  <option value="mei">Mei</option>
  <option value="juni">Juni</option>
  <option value="juli">Juli</option>
  <option value="augustus">Augustus</option>
  <option value="september">September</option>
  <option value="oktober">Oktober</option>
  <option value="november">November</option>
  <option value="december">December</option>
        </select>
        <select class="" name="jaar">
  <option value="jaar">Jaar</option>
  <option value="2015-2013">2015-2013</option>
  <option value="2012-2010">2012-2010</option>
  <option value="2009-2007">2009-2007</option>
  <option value="2006-2004">2006-2004</option>
  <option value="2003-2001">2003-2001</option>
  <option value="2000-1998">2000-1998</option>
  <option value="1997-1995">1997-1995</option>
  <option value="1994-1992">1994-1992</option>
  <option value="1991-1989">1991-1989</option>
  <option value="1988-1986">1988-1986</option>
  <option value="1985-1983">1985-1983</option>
  <option value="1982-...">1982-...</option>
        </select> <br>

        <input type="radio" id="radio1" name="radio-category" />
          <label for="radio1">Lid</label> <br>
        <input type="radio" id="radio2" name="radio-category" />
          <label for="radio2">Leiding</label>
        <a href="/home"><button type="button" name="button"  >Aanmelden</button></a>
      </form>
    </div>
