<%- include('header'); -%>

<div class="speltoevoegen">
  <div class="begin">
    <label for="">Naam spel</label> <br>
    <input type="text" name="" value=""><br>
    <label for="">Benodigdheden</label> <br>
    <textarea name="name" rows="8" cols="38"></textarea> <br><br>
    <label for="">Speluitleg</label><br>
    <textarea name="name" rows="15" cols="38"></textarea> <br>
  </div>

  <h5>Terrein</h5>
  <input type="checkbox" id="" name="" />
    <label for="">Binnen</label> <br>
  <input type="checkbox" id="" name="" />
    <label for="">Buiten</label>

    <h5>Actief</h5>
    <input type="checkbox" id="" name="" />
      <label for="">Rustig</label> <br>
    <input type="checkbox" id="" name="" />
      <label for="">Hevig</label>

      <h5>Leeftijd</h5>
      <input type="checkbox" id="" name="" />
        <label for="">6 - 12jaar</label> <br>
      <input type="checkbox" id="" name="" />
        <label for="">12 - 16jaar</label><br>
        <input type="checkbox" id="" name="" />
          <label for="">16 - 18jaar</label> <br>
        <input type="checkbox" id="" name="" />
          <label for="">18 - ...jaar</label>
</div>

<a href="/bedankt"><button type="button" name="button">Opslaan</button></a>

<%- include("footer"); -%>
