body {
  background-color: white;
  font-family: helvetica;
  margin: auto 1.5rem;
  /*background-attachment:  fixed;*/
  padding-bottom: 2rem;
}

.header1 {
  background-image: url(/images/header1.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}

.header2 {
  background-image: url(/images/header2.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}

.header3 {
  background-image: url(/images/header3.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}

.header4 {
  background-image: url(/images/header4.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}

@font-face {
  font-family: VAGround;
  src: url(/fonts/VAGround.ttf);
}

@font-face {
  font-family: VAGregular;
  src: url(/fonts/VAGregular.ttf);
}

h1, h2, h3, h4, h5 {
  font-family: VAGregular;
  font-weight: bold;
  letter-spacing: 0.09rem;
}

h3, h4 {
  text-transform: uppercase;
  font-size: 1.2rem;
}

h1 {
  color: #F08149;
  text-align: center;
}

.home h4 {
  font-size: 1.1rem;
  padding-top: 0.6rem;
}

.namen3 p, .namen2 p {
  margin-bottom: 1rem;
  line-height: 1;
}

h5, h4 {
  font-size: 1rem;
}

.navigatiebalk ul {
  display: flex;
  width: 100vw;
  margin: 0;
  margin-left: -1.5rem;
  padding: 0;
  padding-bottom: 0.5rem;
  position: fixed;
  justify-content:  space-around;
  bottom: 0;
  background-color: white;
  padding-top: 0.8rem;
  box-shadow:0 0 5px rgba(0, 0, 0, 0.2);
  overflow-x: auto;
}

.navigatiebalk li {
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.navigatiebalk li .activeyellow polyline{
  stroke: #d9d025;
}
.navigatiebalk li .activeyellow path{
  stroke: #d9d025;
}


.navigatiebalk li .activered path{
  fill: #E6274A;
}

.navigatiebalk li .activeblue line {
  stroke: #2B75BB;
}

.navigatiebalk li .activeorange polygon {
  stroke: #F08149;
}

.navigatiebalk li .activegreen {
  stroke: #8DC046;
}
.navigatiebalk li .activegreen path {
  fill: #8DC046;
}

.navigatiebalk svg{
  height: 1.8rem;
  width: auto;
}

.doorklik {
 color: white;
 text-decoration: none;
}

label, p, input[text], select {
  font-size: 1rem;
  font-family: helvetica;
}

.evaluatiespel.spelgreen label {
  font-weight: 600;
  color: #8DC046;
}

.evaluatiespel.spelblue label {
  font-weight: 600;
  color: #2B75BB;
}

.evaluatiespel.spelorange label {
  font-weight: 600;
  color: #F08149;
}

.evaluatiespel.spelred label {
  font-weight: 600;
  color: #E6274A;
}

.detail.spelgreen h4 {
  color: #8DC046;
}

.detail.spelblue h4 {
  color: #2B75BB;
}

.detail.spelorange h4 {
  color: #F08149;
}

.detail.spelred h4 {
  color: #E6274A;
}

.detail h4 {
  color: #8DC046;
}

select {
  margin:0.2rem 0 2rem;
}

.inlog span {
  font-size: 0.8rem;
}

.favorietenstijl label {
  font-weight: 600;
  color: #F08149;
}

nav .hidden {
  visibility: hidden;
}

.evaluatiespel h4 {
  margin: 1.5rem 0;
}

button {
  background-color: #E6274A;
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem 0.8rem;
  display: block;
  color: white;
  font-family: VAGregular;
  font-size: 1rem;
  margin: 3rem auto;
}

.bedankt, .bedanktactiviteit {
  text-align: center;
}

a {
  text-decoration: none;
}

.evaluatiespel label {
  font-weight: 600;
}

.namen2, .namen3 {
  color: black;
  font-family: helvetica;
  font-weight: normal;
  padding: 0 1rem;
  border-radius: 0.5rem;
  margin: 1rem 0;
}

.namen3 {
  border: 0.05rem solid #F08149;
}

.pijl {
  text-align: right;
  margin-top: -2rem;
}

.speltoevoegen h5 {
  color: #8DC046;
  margin-bottom: 0.5rem;
}

.spelknop {
  background-color: white;
  color: black;
  text-align: left;
  margin: 0;
  font-weight: bold;
}

.inlog h2 {
  text-align: center;
  margin-bottom: 5rem;
  color: #8DC046;
  margin-top: 4rem;
}


input[type=text], select {
  margin: 0.5rem 0 1.2rem;
}

.activiteit input[type=text], .evaluatieinvul input[type=text], .speltoevoegen input[type=text], textarea {
  width: 85vw;
}

.spel {
  border-radius: 0.5rem;
  padding: 0.1rem 0.5rem;
  color: white;
  display: block;
  margin-bottom: 1rem;
}

.individueelspel {
  border-radius: 0.5rem;
  padding: 0.1rem 0.5rem;
  color: white;
  margin: 1rem auto;
  background-color: #8DC046;
  width: 85vw;
}

.favorietenstijl{
  align-items: center;
  text-align: center;
}

.favorietenstijl h1 {
  font-family: helvetica;
  letter-spacing: normal;
}

.favorietenstijl input {
  width: 50vw;
}

.leeftijd {
  text-align: right;
  margin-top: -1rem;
}

.namen2.spelgreen {
  border: 0.05rem solid #8DC046;
}

.namen2.spelblue {
  border: 0.05rem solid #2B75BB;
}

.namen2.spelorange {
  border: 0.05rem solid #F08149;
}

.namen2.spelred {
  border: 0.05rem solid #E6274A;
}

.spel:nth-child(4n),.spel.spelgreen {
  background-color: #8DC046;
}

.spel:nth-child(4n-3), .spel.spelblue {
  background-color: #2B75BB;
}

.spel:nth-child(4n-1), .spel.spelorange {
  background-color: #F08149;
}

.spel:nth-child(4n-2), .spel.spelred {
  background-color: #E6274A;
}

.spel.spelgreen {
  background-color: #8DC046;
}

.spel.spelblue {
  background-color: #2B75BB;
}

.spel.spelorange {
  background-color: #F08149;
}

.spel.spelred {
  background-color: #E6274A;
}

.rechts {
  text-align: right;
  margin-top: -2rem;
  display: run-in;
  font-size: 0.9rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 2.5rem;
}

nav.home {
  display: flex;
  justify-content: center;
}

.favorieten, .activiteittoevoegen, .activiteitbekijken, .spelletjes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  background-color: #2B75BB;
  border-radius: 0.5rem;
  padding: 0 0 0.5rem 0.8rem;
  color: white;
}

.evaluatiespel label {
  font-weight: 600;
  color: #E6274A;
}

.activiteit label, .inlog label  {
  font-weight: 600;
  color: #2B75BB;
}

.begin label {
  font-weight: 600;
  color: #8DC046;
}

input[type=text], textarea {
  border: 0.05rem solid lightgrey;
  border-radius: 0.25rem;
  margin: 0.5rem 0 1.2rem;
}

.evaluatiespel h4, .favorietenstijl h4 {
  font-size: 1.1rem;
}

.activiteitbekijken{
background-color: #E6274A;
}

.favorieten {
background-color: #F08149;
}

.spelletjes {
background-color: #8DC046;
}

.evaluatiespel .smileys1, .evaluatiespel .smileys2{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.4rem 0.8rem;
}

.evaluatiespel svg {
  fill: lightgrey;
  height: 3rem;
  width: 3rem;
  margin: 0.2rem;
}

.evaluatiespel .rating-form-2 svg {
  height: 3rem;
  width: 3rem;
  margin: 0.5rem;
}

.evaluatiespel #radios label {
  position: relative;
}

.evaluatiespel input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.evaluatiespel input + svg {
  cursor: pointer;
}

.evaluatiespel input[class="super-happy"]:checked + svg {
  fill: rgb(0, 204, 79);
}

.evaluatiespel input[class="super-happy2"]:checked + svg {
  fill: rgb(0, 204, 79);
}

.evaluatiespel input[class="happy"]:checked + svg {
  fill: rgb(0, 109, 217);
}

.evaluatiespel input[class="happy2"]:checked + svg {
  fill: rgb(0, 109, 217);
}

.evaluatiespel input[class="neutral"]:checked + svg {
  fill: rgb(232, 214, 0);
}

.evaluatiespel input[class="neutral2"]:checked + svg {
  fill: rgb(232, 214, 0);
}

.evaluatiespel input[class="sad"]:checked + svg {
  fill: rgb(229, 132, 0);
}

.evaluatiespel input[class="sad2"]:checked + svg {
  fill: rgb(229, 132, 0);
}

.evaluatiespel input[class="super-sad"]:checked + svg {
  fill: rgb(239, 42, 16);
}

.evaluatiespel input[class="super-sad2"]:checked + svg {
  fill: rgb(239, 42, 16);
}

.spellen {
  margin: 0;
}

.button {
  display: inline-block;
  padding: 0.4rem;
  margin: 0.5rem 0.1rem;
  background-color: white;
  color: #E6274A;
  border: 0.1rem solid #E6274A;
  font-size: 0.9rem;
}

.button:active,
.button.is-checked {
  background-color: #E6274A;
  color: white;
}
